<h1>Tu cuenta no ha sido encontrada</h1>

<div class="info">
  <p>Este sitio funciona exclusivamente por invitación.</p>

  <p>Y lo siento pero tu email <b><%= @email %></b> no está asociado a ninguna persona registrada. Puede ser que estés intentando
  entrar con otro email distinto al que has sido invitadx.</p>
  <p>También puede ser que no hayas sido invitadx ... aún.</p>
</div>