<%= title 'Identificarse' %>
<p>
    Para identificarse aquí no hace falta crear una cuenta nueva: simplemente
    usa la identidad de cualquiera de estos servicios (se añadirán más
    próximamente).
</p>
<p>
    La única información que se solicita a ese servicio es tu nombre y correo electrónico:
    <b>ninguna</b> otra información es accesible, por lo que la
    privacidad está garantizada.
</p>
<h3>Selecciona el servicio con el que te quieres identificar</h3>
<p>
    <%= link_to image_tag('https://github.com/intridea/authbuttons/raw/master/png/google_64.png'), '/auth/google', :alt => 'Entrar con mi cuenta de google' %>
</p>
